*, html , body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: #1a2238;
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logo{
    margin-right: auto;
    display: flex;
    gap: 10px;
}

.logo-img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border-radius: 50%;
}

.logo-t {
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease 0s;
}

.logo:hover {
    color: #ff6a3d;
}

nav ul{
    display: flex;
    padding: 25px;
}

li {
    list-style-type: none;
    padding: 10px;
}

li a{
    transition: all .5s ease 0s;
    display: inline-block;
}

li a:hover{
    color: #ff6a3d;
    transform: rotate(2deg);
}

a {
    color: #eaeaea;
    text-decoration: none;
}

.btn {
    margin-right: 5px;
    border: none;
    font-size: 18px;
    padding: 6px 10px;
    background: #ff6a3d;
    color: #eaeaea;
    border-radius: 10px;cursor: pointer;
    transition: all .5s ease 0s;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #FF8C00;
    transform: rotate(2deg);
    border-radius: 30px;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 40px 0px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.deskripsi {
    font-size: 18px;
    font-style: italic;
}

.img {
    width: 100%;
    max-width: 500px;
    max-height: auto;
    border: 1px solid black;
    margin: 50px;
    border-radius: 500px;
}

.content {
    background-image: url('icon/cake.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.wrap1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: #1a2238;
    color: #eaeaea;
    padding: 25px;
}

.mt {
    margin-top: 20px;
    margin-bottom: none;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-item {
    text-align: center;
    background-color: #f7f7f7;
    padding: 35px;
    color: #000000;
    width: 30%;
    box-shadow: 5px 5px 3px 4px rgba(0, 0, 0, .5);
    min-height: 200px;
    max-height: 300px;
}

.card-title{
    font-size: 18px;
    font-weight: bolder;
}

.card-deskripsi{
    font-size: 14px;
    margin-top: 3px;
}

.icon {
    padding: 3px;
    margin: 10px;
    width: 80px;
    height: 80px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #1a2238;
    color: #eaeaea;
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }
    .card-item {
        width: 100%;
        opacity: 0.9;
        height: 1px;

    }
    .container{
        width: 100%;
        padding: 0;
    }
    .wrap {
        margin-top: 20px;
    }

    .img {
        padding: 0;
        width: 50%;
    }
    
    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #1a2238;
        z-index: 9;
    }

    footer {
        margin-bottom: 70px;
        margin-top: 70px;
    }
}